mixin teamlist(teams, page)
	div#teamlist
		table
			tr
				th.center(colspan=2)='RANK'
				th
				th
				th.center='RATING'
				th.center='COUNTRY'
				th.center='WIN/LOSS'
				th
			each team, i in teams
				tr
					td.center.grey(style="width:30px;")=i+(15*(page-1))+1	
					td(style="width:35px;")
						if team.delta > 2
							span.green
								="+" + team.delta
						else if team.delta < -2
							span.red
								=team.delta
					td(style="width:40px;")
						a(href= '/teams/' + team.url)
							div.logo22(style='background: url(/img/logo/1/' + team.logos[1] + ') no-repeat 50% 50%')
					td.teamname(style="width:500px;")
						a.lb(href= '/teams/' + team.url) #{team.nameMed}
					td.center.yellow(style="width: 90px;")= Math.round(team.elo)
					td.center(style="width:90px")
						img(src= '/img/flags/' + team.country + '.png')
					td.grey.center(style="width:90px")
						span.green
							=team.wins
						=' / '
						span.red
							=team.losses
					td(style="width:140px")